# Database Configuration
DATABASE_URL=mysql+pymysql://root:rootpassword@db:3306/nlp_db

# Celery & RabbitMQ Configuration
CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672//

# RabbitMQ UI/Management
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

# MySQL Initialization
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=nlp_db
MYSQL_USER=nlp_user
MYSQL_PASSWORD=nlppassword
