fastapi==0.103.1
uvicorn==0.23.2
celery==5.3.4
SQLAlchemy==2.0.20
PyMySQL==1.1.0
cryptography==41.0.3
pydantic==2.3.0
pydantic-settings==2.0.3
spacy==3.6.1
transformers==4.33.1
torch==2.0.1
pytest==7.4.2
httpx==0.24.1
